<%- include("../partials/Header.ejs")%>
<main>
    <section id="classes">
        <% for(let i in JSON.parse(data)){%>
            <div class="class">
                <h1><%= i%> паралель</h1>
                <svg data-name="<%=i%>"></svg>
            </div>
        <%}%>
    </section>
    <section id="info">
        <p id="info__allsum"></p>
        <button id="info__export">Експортувати</button>
        <a href="" id="info__link"></a>
    </section>
</main>

<%- include("../partials/ServerData.ejs")%>
<script defer src="https://d3js.org/d3.v7.min.js"></script>
<script defer type="module" src="JS/Admin/Dashboard.js"></script>
