<%- include("../partials/Header.ejs")%>

<main>
    <section id="menu">
        <div id="menu__current">



        </div>
        <form id="menu__form">
            <div id="form__container">
                <label for="">
                    Виберіть інгрідієнт:
                    <select name="ingridients" id="form__ingridients">
                        <% data.allIngridients.forEach(element => {%>
                            <option value="<%= element.id%>"><%= element._name%></option>
                        <%}); %>
                    </select>
                </label>
                <button type="submit" id="form__submit"> Додати елемент</button>
            </div>
        </form>
    </section>
</main>
<%- include("../partials/ServerData.ejs")%> 
<script  type="module" src="JS/Admin/Dashboard.js"></script>



