<form id="menu__form">
    <div id="form__item">
        <label><input type="image" id="item__img"></label>
        <div id="item__info">
            <textarea id="info__descrpition" placeholder="Введіть опис продукту...">
        </div>
    </div>
    <button type="submit" id="menu__add">Додати новий інгрідієнт</button>
</form>