<%- include("../partials/Header.ejs")%>

<main>
    <%- include("../partials/Menu.ejs")%>

    <form id="orders" >
        <table id="orders_table">
            <thead>
                <tr>
                    <th>Учні</th>
                    <th>Порція</th>
                </tr>
            </thead>

        </table>
        <button type="submit">Замовити</button>
    </form>

    <%- include("../partials/ServerData.ejs")%>

</main> 
 <script defer type="module" src="JS/RenderMenu.js"></script>
 <script defer type="module" src="JS/Teacher/RenderPupils.js"></script>
 <script defer type="module" src="JS/Teacher/RequestLogic.js"></script>