<header>
    <ul id="header__list">
        <li><a href="/profile" class="header__link">Profile</a></li>
        <li><a href="/home" class="header__link">Home</a></li>
        <li><a href="/logout" id="logout">Logout</a></li>
    </ul>

</header>