<%- include("partials/TeacherUserHeader.ejs")%>
<main>
    <section id="calendar">
        <div id="controls">
            <div id="button__prev"><</div>
            <h2 id="current__month"></h2>
            <div id="button__next">></div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Пн</th>
                    <th>Вт</th>
                    <th>Ср</th>
                    <th>Чт</th>
                    <th>Пт</th>
                    <th>Сб</th>
                    <th>Нд</th>
                </tr>
            </thead>
            <tbody id="table__body">
            </tbody>
            
            
        </table>

    </section> 
    
</main>

<script src="JS/TeacherStudentHome.js"></script>