<%- include("../partials/Header.ejs")%>

<main>
    <form id="menu">
        <div id="menu__current">
            <div id="menu__body">

            </div>
        </div>
        <section id="menu__form">
            <div id="form__container">
                <label for="">
                    Виберіть інгрідієнт:
                    <select name="ingridients" id="form__ingridients">
                        <% data.allIngridients.forEach(element => {%>
                            <option value="<%= element.id%>"><%= element._name%></option>
                        <%}); %>
                    </select>
                </label>
                <button id="form__add-ingridient"> Додати елемент</button>
            </div>
        </section>
        <button type="submit" id="form__submit">Оновити меню</button>
    </form>
</main>
<%- include("../partials/ServerData.ejs")%> 
<script  type="module" src="JS/Admin/ChangeMenu.js"></script>



