<%- include("../partials/TeacherUserHeader.ejs")%>

<main>
    <%- include("../partials/TeacheruserServerData.ejs")%>
    <%- include("../partials/TeacherUserMenu.ejs")%>

    <form id="order">
        <p id="order__status"></p>
        <button type="submit" id="order__submit"></button>
    </form>
</main>
<script defer src="JS/RenderMenu.js"></script>
<script defer src="JS/Pupil/RequestLogic.js"></script>

