<%- include("../partials/TeacherUserHeader.ejs")%>

<main>
    <%- include("../partials/TeacherUserMenu.ejs")%>

    <form id="orders">
        <p>Не замовлено</p>
        <button type="submit">Замовити</button>
    </form>
</main>
<%- include("../partials/TeacheruserServerData.ejs")%>
<script defer src="JS/RenderMenu.js"></script>
