<%- include("../partials/TeacherUserHeader.ejs")%>

<main>
    


    <script>
        window.serverData = JSON.parse("<%=data%>".replace(/&#34;/g,"\""));
        console.log(window.serverData);
    </script>
</main> 
 