<%- include("../partials/TeacherUserHeader.ejs")%>

<main>
    <section id="menu">
        <div id="menu_wrapper">
            <div id="menu_info">
                <h1 id="menu_name"></h1>
                <h3 id="menu_price"></h3>
            </div>
            <div class="menu_body">
                <div class="menu_item">
                    <img src="" alt="" class="item_image">
                    <div class="item_info">
                        <h1 class="item_name"></h1>
                        <p class="item_description"></p>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <script>
        window.serverData = JSON.parse("<%=data%>".replace(/&#34;/g,"\""));
    </script>

</main> 
 <script src="JS/Teacher/Order.js"></script>