<%- include("../partials/TeacherUserHeader.ejs")%>

<main>
    <%- include("../partials/TeacherUserMenu.ejs")%>

    <form id="orders" >
        <table id="orders_table">
            <thead>
                <tr>
                    <th>Учні</th>
                    <th>Порція</th>
                </tr>
            </thead>

        </table>
        <button type="submit">Замовити</button>
    </form>

    <script>
        window.serverData = JSON.parse("<%=data%>".replace(/&#34;/g,"\""));
    </script>

</main> 
 <script defer src="JS/RenderMenu.js"></script>
 <script defer src="JS/Teacher/RenderPupils.js"></script>
 <script defer src="JS/Teacher/RequestLogic.js"></script>