<%- include("../partials/Header.ejs")%>

<main>
    <%- include("../partials/ServerData.ejs")%>
    <%- include("../partials/Menu.ejs")%>

    <form id="order">
        <p id="order__status"></p>
        <button type="submit" id="order__submit"></button>
    </form>
</main>
<script defer type="module" src="JS/RenderMenu.js"></script>
<script defer type="module" src="JS/Pupil/RequestLogic.js"></script>

