<main>
    <form action="/login" method="post">
        <label>
            Ім'я
            <input type="text" required name="userName" id="inputName">
        </label>
        <label for="">
            Пароль
            <input type="password" required name="userPassword" id="inputPassword">
        </label>
        <label for="">
            <input type="radio"  selected name="type" value="1"> Учень
        </label>
        <label for="">
            <input type="radio" name="type" value="2"> Вчитель
        </label>
        <label for="">
            <input type="radio" name="type" value="3"> Адмін
        </label>
        <button type="submit" id="submit">Ввійти</button>

    </form>
</main>
<script type="module" src="JS/Login.js"></script>